//se define layout en padre mediante grid o flexbox 
.container {
  display: grid;
  grid-template-areas: 
    'toolbar toolbar'
    'navbar content';
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 1fr;
}

.toolbar {
  grid-area: toolbar;
  border: 2px blue solid;
}

.navbar {
  grid-area: navbar;
  border: 2px green solid;

}

.content {
  grid-area: content;
  
}
